<div id="<%= dom_id article %>">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path article.photos.first.key, height: 300, crop: :fill %>)">
  <%= article.title %>
  </div>

  <% article.photos.each do |photo| %>
    <%= cl_image_tag photo.key, width: 300, height: 300 %>
  <% end %>
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= article.body %>
  </p>

</div>
